* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Bookman, URW Bookman L, serif;
}

.history {
  margin: 0 50px auto;
}

/* При ширине меньше 768px */
@media (max-width: 768px) {
  .history {
    margin: 0 20px auto;
  }

  .history p {
    margin: 0 40px 10px; /* уменьшаем отступы */
  }
}

/* При ширине меньше 480px */
@media (max-width: 480px) {
  .history {
    margin: 0 10px auto;
  }

  .history p {
    margin: 0 20px 10px; /* еще меньше */
  }
}

.title {
  text-align: center;
  padding: 10px;
  text-align: 20px;
  background: #333;
  color: white;
}

.line {
  width: 100%;
  height: 1px;
  background: #555;
  margin: 20px 0;
}

body {
  padding-top: 60px; 
}

.site-header {
  background: #222;
  color: #fff;
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px; /* фиксируем высоту */
  box-sizing: border-box; /* чтобы паддинги учитывались */
}

.h1 {
  font-size: 20px;
  margin-left: 20px;
  text-align: left;
}

nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 30px;
  font-size: 16px;
}

nav a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: #fff;
}

nav a.active {
  color: #fff;
}

.burger {
  font-size: 26px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  display: none; /* скрываем бургер на больших */
  margin-right: 20px;
}

/* --- адаптив --- */
@media (max-width: 1000px) {
  .burger {
    display: block; /* показываем бургер */
  }

  nav {
    display: none; /* меню скрыто */
    position: absolute;
    top: 50px;
    left: 0;
    transform: none;
    width: 100%;
    flex-direction: column;
    background: #222;
    padding: 10px 0;
    gap: 15px;
    text-align: center;
  }

  nav.show {
    display: flex; /* показываем меню при клике */
  }
}


.site-footer {
  margin-top: 20px;
  background: #222;
  color: #fff;
  text-align: center;
  padding: 15px;
}

.site-header nav a {
  color: gray;
  margin: 15px;
}

.site-header nav a:hover {
  color: #ccc;
}

.site-header nav a.active {
  display: inline-block;
  margin: 10px 10px 0 10px;
  /* top, right, bottom, left */
  color: #fff;
}

@media (max-width: 500px) {
  .title {
    font-size: 14px; /* ещё меньше */
  }
}