body {
  background: white;
}

.D3 {
  text-align: center;
  padding: 10px;
}

.D3 a {
  color: #333; /* синий цвет ссылки */
  text-decoration: underline; /* подчеркивание */
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: -20px 50px auto;
}

.column {
  box-sizing: border-box;
}

.column.info {
  flex: 1 1 30%;
  max-width: 30%;
}

.column.animation {
  flex: 1 1 66.66%;
  max-width: 66.66%;
}

.car-specs {
  list-style: none;
}

.car-specs li {
  padding: 6px 0;
  border-bottom: 1px solid #ccc;
}

.car-specs li b {
  color: black;
  margin-right: 5px;
  position: relative;
}

.animation-placeholder {
  background: #ddd;
  height: 400px;
  border: 2px dashed #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.history p {
  line-height: 1.6;
  margin: 0 150px;
}

.history p + p {
  margin-top: 10px;
}

/* подзаголовок внутри текста */
.history .paragraph-title {
  font-weight: 700;
  margin-top: 30px;   /* отступ сверху */
  margin-bottom: 10px;
}

.history h2 {
  font-size: 2em;
  margin-top: 50px;
  background: #333;
  color: white;
  padding-bottom: 5px;
  text-align: center;
}

.history h3 {
  font-weight: bold;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  background: transparent;
}

.line {
  width: 100%;
  height: 1px;
  background: #555;
  margin: 20px 0;
}

.column {
  flex: 1 1 500px;
  min-width: 250px;
  background: transparent;
  padding: 15px;
  border-radius: 5px;
  margin: 20px auto;
}

.image-column img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  min-width: 250px;
}

.text-column p {
  line-height: 1.6;
  display: flex;
  align-items: center;
  margin: 40px 30px auto;
}

.im img {
  width: 100%;       /* картинка растягивается на ширину контейнера */
  height: 100%;      /* сохраняет пропорции */
  display: block;    /* убирает лишние отступы */
}

@media (max-width: 1024px) {
  .column {
    flex: 1 1 45%;
    max-width: 100%;
  }

  .column.info,
  .column.animation {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .animation-placeholder {
    height: 350px;
  }
}

@media (max-width: 768px) {

  .container,
  .main-content {
    flex-direction: column;
    padding: 15px;
    margin: 10px 20px;
  }

  .column,
  .column.info,
  .column.animation {
    flex: 1 1 100%;
    max-width: 100%;
    margin: 10px 0;
  }

  .animation-placeholder {
    height: 300px;
  }

  .main-content h2,
  .history h2,
  .description h2 {
    font-size: 1.5em;
  }

  .car-specs li {
    font-size: 14px;
  }
}

@media (max-width: 480px) {

  .main-content,
  .container {
    padding: 10px;
    margin: 10px;
  }

  .animation-placeholder {
    height: 250px;
  }

  .car-specs li {
    font-size: 13px;
  }

  .main-content h2,
  .history h2,
  .description h2 {
    font-size: 1.3em;
  }
}