.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin-top: 10px;
}

.controls {
  flex: 1;
  max-width: 25%;
  padding: 10px;
  display: flex;               /* добавили flex */
  flex-direction: column;
  align-items: center;         /* центрируем элементы по горизонтали */
}

.controls .button {
  display: grid;
  grid-template-columns: repeat(2, auto); /* ширина колонок по содержимому */
  gap: 10px;
  justify-content: center;     /* центрируем сетку по горизонтали */
}

.controls .button button {
  padding: 6px 20px;          /* немного уменьшил отступ */
  border-radius: 8px;
  cursor: pointer;
  text-align: center;          /* выравнивание текста по центру */
  white-space: nowrap;         /* не переносить текст */
  font-size: 14px;
  border: 1px solid #333;
}

.controlline {
  width: 100%;
  height: 1px;
  background: #555;
  margin: 10px 0;
}

.active-btn {
  background-color: rgb(219, 219, 219);
  color: #333; /* чтобы текст был виден */
}

.active-b {
  background-color: rgb(206, 206, 206);
  color: #333; /* чтобы текст был виден */
}

.name {
  font-size: 18px;
  background: rgb(177, 177, 177);
  padding: 10px;
  color: #333;
  width: 100%;         /* растягиваем на всю ширину родителя */
  text-align: center;  /* если нужно, чтобы текст был по центру */
}

.controls p {
  font-size: 16px;
  flex-basis: 100%; /* заставляет абзац занимать всю строку */
  margin-top: 10px;   /* небольшой отступ сверху и снизу */
  text-align: center;
}

#container3D {
  width: 100%;
  height: 550px; /* или 100% если родитель управляет высотой */
  border: 2px dashed #aaa;
  position: relative;
  overflow: hidden;
}


#loader {
  position: absolute;  /* было fixed */
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(177, 177, 177);/* полупрозрачный фон */
  z-index: 10;
  pointer-events: none;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #fff;
  border-top: 6px solid #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.column.animation {
  flex: 3;
  max-width: 75%;
  height: auto;
}

@media (max-width: 900px) {
.main-content {
    flex-direction: column;
    align-items: center;
  }

  .column.animation {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #container3D {
    width: 90%;
    height: 300px;
    margin: 0 auto;
  }

   .controls {
    max-width: 100%;
    margin-top: 15px;       /* отступ сверху от модели */
    flex-direction: row;    
    flex-wrap: wrap;        
    justify-content: center;
  }

  .controls .button {
    display: grid;
    gap: 10px;
    width: 100%;  /* чтобы сетка растянулась */
    max-width: 300px; /* можно ограничить ширину */
    display: grid;
    grid-template-columns: repeat(2, auto); /* ширина колонок по содержимому */
    justify-content: center;  
  }

  .controls .button button {
    width: 100%; /* кнопки занимают всю ячейку */
  }

  .controlline {
  margin: 5px 0;
}
}